:root {

    /*Primary*/

--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);
--Cyan2: hsl(178, 56%, 63%);
--hover: hsl(71, 61%, 36%);

    /*Neutral*/

--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--Light-Gray);
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    font-size: 16px
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}
@media (min-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 7%;
    }
}
@media (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 14%;
    }
}
.contenedor-arriba {
    padding: 3rem;
    width: 60rem;
    background-color: white;
    border-radius: 1rem 1rem 0rem 0rem;
}
.contenedor-arriba h1{
    display: block;
    color: var(--Cyan);
    font-size: 3rem;
}
.contenedor-arriba h2 {
    color: var(--Bright-Yellow);
    font-size: 2rem;
}
.contenedor-arriba p {
    color: var(--Grayish-Blue);
}
.contenedor-abajo {
    display: flex;
    color: var(--Light-Gray);
    height: 30rem;
}

.contenedor1{
    padding: 3rem;
    width: 30rem;
    background-color: var(--Cyan);
    border-radius: 0px 0px 0px 1rem;
}
.contenedor1 h2{
    font-size: 2rem;
}
.contenedor1 h3{
    font-size: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 12rem;
    width: 30rem;
}
.contenedor1 span {
    font-size: 2rem;
    color: var(--Light-Gray);
    opacity: 50%;
    padding-left: 1rem;
}
.contenedor1 h4 {
    font-size: 1.5rem;
}
.contenedor2{
    padding: 3rem;
    width: 30rem;
    background-color: var(--Cyan2);
    border-radius: 0px 0px 1rem 0rem;
}
.contenedor1 h5 {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: var(--Light-Gray);
    background-color: var(--Bright-Yellow);
    border-radius: 0.5rem;
    cursor: pointer;
}
.contenedor1 h5:hover {
    background-color: var(--hover);
    color: white;
}
.left {
    text-align: left;
    display: flex;
    padding-right: 7rem;
}
@media (max-width: 430px) {
    .contenedor-arriba {
        width: 30rem;
        display: block
    }
}
@media (max-width: 430px) {
    .contenedor-arriba h1{
        font-size: 2rem;
    }
}
@media (max-width: 430px) {
    .contenedor-abajo {
        height: 65rem;
        margin-bottom: 10rem;
        display: block
    }
}
@media (max-width: 430px) {
    .contenedor2 {
        display: block;
    }
}
@media (max-width: 430px) { 
    .contenedor1 {
        border-radius: 0rem 0rem 0rem 0rem;
    }
}
@media (max-width: 430px) { 
    .contenedor2 {
        border-radius: 0rem 0rem 1rem 1rem;
    }
}
